$black-color: #000000;
$main-blue-color: #33a8db;
$button-blue-color: #3ba1cd;
$border-button-gradient: linear-gradient(#3ba1cd, #1572b7);
$white-color: #ffffff;
$shadow-color: #00000022;
$h1-gradient-color: linear-gradient(#33a8db, #1472b7);
$background-banner-gradient: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(49, 168, 221, 0.2),
      rgba(0, 0, 0, 0.6)
    );
$module-background-color: #252525;
$module-box-shadow: rgba(0, 0, 0, 0.7);
$footer-gradient: linear-gradient(
    rgba(50, 168, 219, 0),
    rgba(50, 168, 219, 0.2)
  );